<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/boilerplate.css">
</head>
<body>
    <style>
    </style>
    <div id="nav"> 
        <div id="navPart1">
           <a style="cursor: pointer;" href="/"><img src="../images/logo.png" alt=""></a> 
           <a style="text-decoration: none; color: #57127F;" href="/"><h4 style="cursor: pointer;">Adoptopia</h4></a> 
        </div>
        <div id="navPart2">
            <div class="navElements">
                <h4>Adopt</h4>
            </div>
            <div class="navElements">
               <a style="color: white; text-decoration: none; cursor: pointer;" href="/rescue"><h4>Rescue</h4></a>
            </div>
            <div class="navElements">
            <a style="color: white; text-decoration: none;cursor: pointer;" href="/donate"><h4>Donate</h4></a> 
            </div>
            <div class="navElements">
              <a style="color: white;text-decoration: none;" href="/contactus"><h4>Contact</h4></a> 
            </div>
            <div class="navElements">
               <a style="color: white;text-decoration: none; cursor: pointer;" href="/blogs"><h4>blogs</h4></a> 
            </div>
            <div class="navElements">
             <a style="color: white;text-decoration: none; cursor: pointer;" href="/aboutus"><h4>about</h4></a>   
            </div>

        </div>
        <div id="navPart3">
           <a href="/login"><button id="login" style="cursor: pointer;">LogIn</button></a>
           <a href="/signup"><button id="signup" style="cursor: pointer;">Sign up</button></a> 
           <a href="/logout"><button id="signup" style="cursor: pointer;">Log out</button></a> 
        </div>
    </div> 
</body>
</html>