* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: animal;
    src: url(../zootopia-jposterscomar-font/ZootopiaJposterscomar-qJ80.ttf);
}
#main{
  transition: all ease 0.1;
}
#cursor{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #57127F;
  position: absolute;
  z-index: 999;
}
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #CCBCD4;
    
}
.hero{
    width:100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: right;
}

#drop-area{
    width: 500px;
    height: 300px;
    padding: 30px;
    background-color:#57127F;
    text-align: center;
    border-radius: 20px;
}

#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #57127F;
    background: #e4ccf0 ;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px;   
}

#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}


.page-container {
    display: flex;
}

.form-container {
    flex: 1;
    padding: 20px;
}

.drop-box-container {
    flex: 1;
    padding: 20px;
}


.container{
        margin-top: 80px; /* Adjust this value based on your nav bar height */
        margin-left: 10px; /* Adjust this value as needed */
        max-width: 700px;
        height: auto;
        width: 100%;
        color: white;
        background-color: #57127F;
        padding: 45px 30px;
        border-radius: 55px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
 }
    
  .container .title{
    font-size: 35px;
    font-weight: 500;
    position: relative;
    font-family: animal;
    color: white;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 60px;
     width: 35%;
     margin-left: 180px;
     border-radius: 5px;
     border: none;
     color: #57127F;
     font-size: 22px;
     font-weight: 800;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: white;
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  .heading1{
    margin-top: 10px;
    margin-bottom: 350px;
    position: absolute;
    /* margin-left: 800px; */
    /* margin-left: 50px */
    right: 12%;
    display: inline;
  }


#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #CCBCD4;
}
#page2 h1{
    text-align: center;
    font-family: animal;
    font-size: 82px;
    padding: 55px ;
    color: #57127F;
    letter-spacing: 4px;
}

#page2 h1 span{
  display: inline-block;}

#heading{
  overflow: hidden;
}
#blogs{
  overflow-x: hidden;

}
#review1 , #review2 , #review3{
    padding: 30px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.card {
    height: 400px;
    width: 400px;
    border: 5px solid #57127F;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    margin-bottom: 35px;
    object-fit: cover ;
    object-position: center;
    margin-left: 50px;
}
.card img{
    height: 150px;
    width: 150px;
}
.card h2{
    font-size: 24px;
    color: #57127F;
    margin: 15px 0px;
}
.card p{
    height: 50px;
    width: 350px;
   text-align: center;
    color: #57127F;
    margin: 15px 0px 2px 0px;
     margin-bottom: 15px;
}

.card i{
    font-size: 19px;
  color: #57127F;
}
.likes{
    margin-top: 30px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #57127F;
}