<%- include("../includes/navbar") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="css/aboutus.css">
</head>

<body>
    <div id="main">
        <div id="cursor"></div>
        <div id="page1">
            <div id="part1"><img src="/images/logo.png" alt=""></div>
            <div id="part2">
                <h1>Adoptopia</h1><br>
                <h2>A Digital Hub for Rescuing & Rehoming Stray Pets</h2>
                <p>Fur-Ever Love Rescue: With a focus on rehabilitation, our non-profit rescues, fosters, and rehomes
                    animals in need. we offer educational programs, low-cost veterinary care, and community outreach to
                    enhance the lives of both pets and people. <br> <br>The proposed platform will facilitate seamless
                    interaction, enabling users to request adoptions,
                    offer these animals a new lease on life, or even sell them to loving homes. Furthermore, it will
                    incorporate features allowing users to mark favorites, extending a ray of hope to these
                    overlooked creatures. <br><br>
                    Most notably, this platform will facilitate coordination between NGOs and veterinary hospitals,
                    streamlining the rescue process and ensuring that timely medical aid reaches these animals in
                    distress. It seeks to serve as a beacon of hope, a digital haven where the most vulnerable beings
                    among us find a voice and a chance for a better future. </p>
            </div>
        </div>
        <div id="page2">
            <div id="part1">
                <h1>Our story</h1>
                <p>
                    In our society, a grave issue persists, one that tugs at our collective conscience—the plight of
                    abandoned and injured animals left to fend for themselves on the unforgiving streets.

                <br>This
                    problem is twofold: firstly, the lack of immediate medical attention for these helpless creatures;
                    secondly, the absence of a seamless connection between veterinary hospitals and animal welfare
                    organizations. 
                    <br>
                    Understanding the gravity of this situation, we propose a groundbreaking solution: an innovative
                    online platform designed specifically to bridge these critical gaps. This comprehensive platform
                    will not only serve as an avenue for showcasing street-born injured animals but also as a digital
                    nexus where users can search, view, and connect with these animals based on breed or condition. </p>
            </div>
            <div id="part2">
                <div id="top"><img src="/images/poster.png" alt=""></div>
                <div id="bottom"> <img src="/images/bottom3.png" alt="">
                    <img src="/images/bottom2.png" alt="">
                </div>
            </div>
        </div>
        <div id="page3">
            <div id="container">
                <h1 style="text-align: center; padding: 30px;">Team Members</h1>
                <div class="team-container">
                    <div class="team-member" id="arpit">
                        <img src="/images/bottom1.png" alt="">
                        <h2>arpit soni </h2>
                        <p>" With heart and dedication, we built Adoptopai to be the bridge between shelter pets and forever families "</p>
                        <div id="icons">
                            <i class="ri-mail-line"></i>
                            <i class="ri-instagram-line"></i>
                            <i class="ri-twitter-x-line"></i>
                            <i class="ri-linkedin-fill"></i>
                            <i class="ri-telegram-line"></i>
                        </div>
                    </div>
                    <div class="team-member" id="kay">
                        <img src="/images/kay-bgremoved.png" alt="">
                        <h2>kalyani singh rajput </h2>
                        <p> " Crafted with love, Adoptopai bridges the gap between shelter animals and loving homes, enriching lives one adoption at a time. "</p>
                        <div id="icons">
                            <i class="ri-mail-line"></i>
                            <i class="ri-instagram-line"></i>
                            <i class="ri-twitter-x-line"></i>
                            <i class="ri-linkedin-fill"></i>
                            <i class="ri-telegram-line"></i>
                        </div>
                    </div>
                    <div class="team-member" id="lov">
                        <img src="/images/lovkesh-removebg-preview.png" alt="">
                        <h2>lovekesh chaurasia</h2>
                        <p>" Adoptopai: Our passion project, uniting shelter animals and loving homes with care and compassion. "</p>
                        <div id="icons">
                            <i class="ri-mail-line"></i>
                            <i class="ri-instagram-line"></i>
                            <i class="ri-twitter-x-line"></i>
                            <i class="ri-linkedin-fill"></i>
                            <i class="ri-telegram-line"></i>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascript/aboutus.js"></script>
</body>

</html>