<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptopia-Contact Us</title>
    <link rel="stylesheet" href="css/boilerplate.css">
    <link rel="stylesheet" href="css/about.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="navPart1">
               <img src="../images/logo.png" alt="">
                <a style="color: #57127F; text-decoration: none;" href="/"><h4>Adoptopia</h4></a>
            </div>
            <div id="navPart2">
                <div class="navElements">
                    <h4>Adopt</h4>
                </div>
                <div class="navElements">
                    <h4>Rescue</h4>
                </div>
                <div class="navElements">
                <a style="color: white; text-decoration: none;cursor: pointer;" href="/donate"><h4>Donate</h4></a> 
                </div>
                <div class="navElements">
                    <a style="text-decoration: none;color: white;" href="/about"><h4>Contact</h4></a>
                </div>
                <div class="navElements">
                   <a style="text-decoration: none;color: white;" href="/blogs"> <h4>blogs</h4></a>
                </div>
                <div class="navElements">
                  <a style="text-decoration: none;color: white;" href="/aboutus"><h4>about</h4></a> 
                </div>
            </div>
            <div id="navPart3">
               <a href="/login"><button id="login" style="cursor: pointer;">LogIn</button></a>
               <a href="/login"><button id="signup">Sign up</button></a> 
            </div>
        </div>
        <div id="part1">
            <div class="container">
                <div class="eyes">
                    <div class="pupil">

                    </div>
                </div>

                <div class="eyes">
                    <div class="pupil">

                    </div>
                </div>
                <div id="img">
                    <img src="../images/kutta_2-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
        <div id="part2">
            <div id="formarea">
                <form action="/contact" method="post">
                    <H3>WRITE TO US</H3>
                    <input type="text" placeholder="Name" name="name" id="name"
                        style="width: 350px; height: 40px; border-radius: 40px; border: none; margin: 10px;"><br>
                    <input type=" email" placeholder="Email" id="email" name="email"
                        style="width: 350px; height: 40px; border-radius: 40px; border: none; margin: 10px;"><br>
                    <input type="number" placeholder="Phone Number" name="phoneNumber" id="PhoneNumber"
                        style="width: 350px; height: 40px; border-radius: 40px; border: none; margin: 10px;"><br>
                    <textarea id="message" placeholder="Message" name="message"
                        style="width: 350px; height: 90px; border-radius: 40px; border: none; margin: 10px; font-size: 20px; padding-left: 12px; text-align: center; padding-top: 30px;"></textarea><br>
                    <input type="submit" value="Submit"
                        style="padding: 10px 18px; background-color: #CCBCD4; color: #57127F; font-weight:550; border-radius: 40px; margin-left: 35px;">

                </form>
            </div>

        </div>
        <div id="part3">
                 <div id="containContact">
                    <h3>Contact Us</h3>
                    <h4><i class="ri-mail-line"></i> Email</h4>
                    <h4><i class="ri-map-pin-line"></i>Address</h4>
                    <h4><i class="ri-instagram-line"></i> Instagram</h4>
                    <h4><i class="ri-twitter-x-line"></i> Twitter</h4>
                 </div>
        </div>
    </div>
    <script src="/javascript/about.js"></script>
</body>

</html>