<%- include("../includes/navbar.ejs") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptopia</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- <div id="loader">  
        <div id="purple1"></div>
        <video autoplay muted loop src="../images/Adoptopia.mp4"></video>
        <div id="purple2"><img src="../images/logo.png" alt=""></div>
    </div> -->
   
    <div id="main">
        <div id="page1">
            <div id="bottom"> 
                <div id="b1">
                    <div class="cate">
                        <h5>Dogs</h5>
                    </div>
                    <div class="cate">
                        <h5>Cats</h5>
                    </div>
                    <div class="cate">
                        <h5>Other Pets</h5>
                    </div>

                </div>
                <div id="b2">
                    <div class="leta">
                        <img src="https://imgs.search.brave.com/A08ld8xqLpVFiykwbGTkR9aHV4knO5o2vjHoXbo5HhU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jbGlw/YXJ0LWxpYnJhcnku/Y29tL2ltYWdlcy9y/VG5ycGFwNmMucG5n"
                            alt="" style="height: 20px; color: #552473; ">
                        <h5>Breed</h5>
                    </div>
                    <div class="leta">
                        <i class="ri-home-heart-fill"></i>
                        <h5>Age</h5>
                    </div>
                    <div class="leta">
                        <i class="ri-map-pin-2-fill"></i>
                        <h5>Location</h5>
                    </div>
                    <div class="leta">
                        <input type="text" placeholder="Search"></input>
                    </div>
                </div>
            </div> 
            <div id="mian1">
                <h1>Adoptopia</h1><br>
                <h2>A Digital Hub for Rescuing <br> & <br> Rehoming Stray Pets</h2>
                <p>Fur-Ever Love Rescue: With a focus on rehabilitation, our non-profit rescues, fosters, and rehomes
                    animals in need. we offer educational programs, low-cost veterinary care, and community outreach to
                    enhance the lives of both pets and people.</p>
            </div>
            <div id="mian2">
                <img src="../images/poster.png" alt="mainphoto">
            </div>
            <div id="mian3">

                <div id="swiper">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h3>Upcoming Events !</h3>
                            </div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>
                            <div class="swiper-slide"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascript/script.js"></script>
</body>

</html>

