<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptopia -Success Stories</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/successStories.css">
</head>

<body>
    <div id="main">
    <div id="cursor"></div>
    <div id="page1">
        <div class="page-container">
            <div class="form-container">
                <div class="container">
                    <div class="title">Write Your review</div>
                    <div class="content">
                        <form action="#">
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Full Name</span>
                                    <input type="text" placeholder="Enter your Name" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Pet type</span>
                                    <input type="text" placeholder="Enter Pet Type" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Email</span>
                                    <input type="text" placeholder="Enter your Email" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Phone Number</span>
                                    <input type="text" placeholder="Enter your Number" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Location of Animal</span>
                                    <input type="text" placeholder="Enter Location of Animal" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Radius</span>
                                    <input type="text" placeholder="Area in K.M." required>
                                </div>
                            </div>
                            <!-- <div class="gender-details">
                                <input type="radio" name="gender" id="dot-1">
                                <input type="radio" name="gender" id="dot-2">
                                <input type="radio" name="gender" id="dot-3">
                                <span class="gender-title">Gender</span>
                                <div class="category">
                                    <label for="dot-1">
                                        <span class="dot one"></span>
                                        <span class="gender">Male</span>
                                    </label>
                                    <label for="dot-2">
                                        <span class="dot two"></span>
                                        <span class="gender">Female</span>
                                    </label>
                                    <label for="dot-3">
                                        <span class="dot three"></span>
                                        <span class="gender">Prefer not to say</span>
                                    </label>
                                </div>
                            </div> -->
                            <div class="button">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <div class="drop-box-container">
                <div class="hero">
                    <span class="heading1">
                        <h2>Picture of animal</h2>
                    </span>
                    <label for="input-file" id="drop-area">
                        <input type="file" accept="image/*" id="input-file" hidden>
                        <div id="img-view">
                            <img src="./images/upload.png" alt="">
                            <p>Drag and Drop or click here<br>to upload images</p>
                            <span>Upload any images from desktop</span>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="page2">
        <div id="heading">
            <h1>successful               adoption stories</h1>
        </div>
        <div id="blogs">
            <div id="review1">

            </div>
            <div id="review2" style="margin-top: 150px;">

            </div>
            <div id="review3">

            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="/javascript/successStories.js"></script>
</body>

</html>